{% layout "server/layouts/base.liquid" %}

{% block content %}

<section class="banner">
    <div class="container">
        <h1><span>HOUD DE</span>
            <span style="text-align: center;">HERINNERING</span>
            <span class="red" style="text-align: right;">LEVEND</span>
        </h1>
    </div>
</section>

<section>
    <div class="container">
        <div class="homepageContent">
            <div class="info">
                <h3>Herdenk door te vertellen</h3>
                <p>
                    In de jaren tussen 1940 en 1945 zijn door de Duitse bezetter meer dan 2800 mensen uit de
                    Oosterparkbuurt gedeporteerd en vermoord in Oost-Europa. Het Joodse leven in de buurt, dat
                    voor de oorlog bloeiende was, verdween.
                </p>
                <p>
                    Wie waren deze mensen? Hoe zagen hun levens eruit? Wat hebben ze tijdens de oorlog
                    meegemaakt? Op deze vragen proberen we met de gedenkposters antwoord te geven. Zo'n veertig
                    buurtbewoners in wiens huizen Joodse mensen hebben gewoond hebben al onderzoek gedaan naar
                    die oud-bewoners en hun verhalen opgeschreven. De gedenkposters hangen in april en mei door
                    de hele buurt voor de ramen. Ook worden er wandelingen langs de posters georganiseerd.
                </p>
                <p>
                    De gedenkposters zijn geïnspireerd op het project Namen en Nummers van kunstenaar Ida van
                    der Lee. Ontdek hier meer over Namen en Nummers.
                </p>
            </div>

            <div class="peopleCounterContainer">
                <h2>Er zijn <span class="people-counter">0</span> mensen gedeporteerd.</h2>
                <p class="impact-tekst">Zoveel mensen zijn weggenomen uit deze buurt, daarom vinden wij het belangrijk
                    dat deze mensen herdacht blijven worden.</p>
            </div>

            <section class="containerabout">
                <h2>Leg een bloem en lees over de oud bewoners</h2>
                <p>
                    Op deze website kun je de verhalen lezen van de Joodse bewoners die in de Oosterparkbuurt
                    hebben gewoond en zijn gedeporteerd. Je kunt ook een bloem leggen bij hun huisnummer om hen te
                    herdenken. Klik op een huisnummer om het verhaal te lezen en een bloem te leggen.
                </p>
                <a href="/gedenk-posters">Bekijk de muur en leg een bloem.</a>
            </section>


            <section class="containerabout">
                <h2>Het comité</h2>
                <p>
                    Het 4 mei comité Oosterparkbuurt bestaat uit Ieke Ginjaar, Bert Runhaar, Ineke Smit
                    en Joost van Ommen. Het comité is voortgekomen uit het buurtcomité Namen en
                    Nummers Kastanjeplein, een project van beeldend kunstenaar Ida van der Lee dat van
                    2012 tot 2021 elk jaar op 4 mei op het Kastanjeplein uitgevoerd werd en in 2021 is
                    afgerond. Dit project vormde de inspiratie voor de gedenkposters en heeft een vervolg gekregen met
                    Namenennummers.nl.

                    Dit is een digitaal herdenkingsplatform waarop alle 104.000 Nederlands

                    slachtoffers van de Holocaust zijn te vinden en te herdenken.
                </p>


            </section>

            <section class="containerabout">
                <h2>Wat betekent herdenken in 2025?</h2>
                <p>
                    Het herdenken van de Joodse bewoners die tijdens de Tweede Wereldoorlog uit de Oosterparkbuurt zijn
                    gedeporteerd
                    en vermoord is voor ons rechtstreeks verbonden met voor elkaar opkomen en elkaar respecteren.
                </p>

                <p>
                    We mogen nooit wegkijken als een groep mensen wordt weggezet als 'anders', als minderwaardig of als
                    ongewenst in
                    de samenleving. Onverdraagzaamheid wegwuiven of tolereren staat haaks op het idee van 'dit nooit
                    meer', na de
                    Tweede Wereldoorlog vastgelegd in de Rechten van de Mens.
                </p>

                <p>
                    Zowel nationaal als internationaal zien we echter dat het wij tegen zij-denken steeds meer aan
                    terrein wint. Het
                    comité streeft ernaar de verbinding te blijven zoeken, in de Oosterparkbuurt en in Amsterdam.
                </p>

                <p>
                    Op 4 mei herdenken we de 2800 mensen die tijdens de Holocaust uit onze buurt zijn weggehaald, noemen
                    hun namen
                    en vertellen de verhalen uit onze buurt. Het is ook een moment om elkaar eraan te herinneren dat we
                    waakzaam
                    moeten zijn en blijven

                    voor uitsluiting. In de woorden van regisseur Steve McQueen:

                    'Er is geen ander, er is alleen wij. En het is altijd wij geweest. Wij.'
                </p>

            </section>

            <section class="containerabout">
                <h2>Privacybeleid</h2>
                <p>
                    Wij verzamelen of bewaren geen gegevens van bezoekers van deze website. Als u zich aanmeldt voor
                    onze
                    nieuwsbrief, gebruiken wij uw e-mailadres alleen om u de nieuwsbrief toe te sturen. Wij geven uw
                    gegevens nooit
                    door aan derden.
                </p>

                <p>Heb je vragen, ideeën of suggesties? <a href="mailto:4meioosterparkbuurt@gmail.com">Neem contact
                        op</a> met het comité!</p>

            </section>

        </div>
    </div>
</section>

{% endblock %}