ul.grid {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.banner {
    position: relative;
    overflow: hidden;

    .backgroundText {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 300%;
        white-space: nowrap;
        height: 200%;
        transform: rotate(-5deg);
        opacity: 0.5;
        animation: scrollNames 60s linear infinite;

        &.copy {
            left: 100%;

            animation-delay: 10s;
        }
    }

    h1 {
        color: var(--black);
        font-size: clamp(2rem, 6vw, 7rem);
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        line-height: 1;

        span.red {
            color: var(--link-color);
        }
    }
}

.homepageContent {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}



@media screen and (min-width: 768px) {
  .homepageContent {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info,
.containerabout,
.peopleCounterContainer {
  background: var(--header-bg);
  color: #333;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.info h3,
.containerabout h2,
.containerabout h1,
.peopleCounterContainer h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--link-color);
}

.info p,
.containerabout p,
.peopleCounterContainer p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.containerabout a{
  color: var(--main-color);
  text-decoration: underline;
  font-weight: bold;
  padding:.5em;
  margin-top:2em;
  text-align: center;
  border-radius: 0.5em;
  transition: background-color 0.3s ease;
}

.containerabout a:hover {
  background-color: var(--link-color);
  color: var(--header-bg);
  padding:.5em;
}

.peopleCounterContainer {
  text-align: center;
}

.peopleCounterContainer h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--link-color);
}

.impact-tekst {
  font-size: 1.2rem;
  opacity: 0.8;
}
